.App {
  padding-top: 20px;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-color: #ededed;
}

.btn {
  background-color: khaki;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

.status__arrived {
  color: green;
}
.status_arrived_text {
  text-decoration: line-through;
}

.status_notarrived {
  color: red;
}

.img {
  height: 150px;
  width: 300px;
}

.img_loader {
  height: 64px;
  width: 64px;
}

.cell {
  display: table-cell;
  border: 1px solid #bbb;
  width: 120px;
}

.row {
  display: table-row;
}

.head {
  font-weight: bold;
}

.colleft {
  flex: 90%;
}

.colright {
  flex: 10%;
}

input {
  width: 600px;
  height: 30px;
}

button {
  width: 100px;
  height: 30px;
  font-weight: bold;
}

ul {
  margin: 0px;
}
